* {
	margin: 0px;
	padding: 0px;
	position: relative;
}

html {
	height: 100%;
	margin: 0;
	padding: 0;
}

.switchAuthForm {
	position: fixed;
	width: 100px;
	top: 10px;
	right: 10px;
	background: rgba(255, 255, 255, 0.7);
	background: rgba(255, 255, 255, 0.7);
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 5px;
	color: #1D457B;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 2px;
}

.authentication_bgr {
	background: url(../images/login_background.jpg) no-repeat center center
		fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.authenticate_form {
	position: fixed;
	top: calc(50% - 75px);
	left: calc(50% - 125px);
	height: 150px;
	width: 250px;
	padding: 10px;
	z-index: 2;
}

.authenticate_form input[type=text] {
	width: 250px;
	height: 30px;
	background: rgba(255, 255, 255, 0.7);
	border: 1px solid rgba(255, 255, 255, 0.6);
	border-radius: 2px;
	color: #1D457B;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.authenticate_form input[type=password] {
	width: 250px;
	height: 30px;
	background: rgba(255, 255, 255, 0.7);
	border: 1px solid rgba(255, 255, 255, 0.6);
	border-radius: 2px;
	color: #1D457B;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.authenticate_form input[type=submit] {
	width: 260px;
	height: 35px;
	background: rgba(255, 255, 255, 0.7);
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #1D457B;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.authenticate_form p {
	width: 260px;
	height: 35px;
	color: #DF4040;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
	visibility: hidden;
}

.authenticate_form input[type=submit]:hover, input[type=button]:hover {
	opacity: 0.8;
}

.authenticate_form input[type=submit]:active {
	opacity: 0.6;
}

.authenticate_form input[type=text]:focus {
	outline: none;
	border: 1px solid rgba(255, 255, 255, 0.9);
}

.authenticate_form input[type=password]:focus {
	outline: none;
	border: 1px solid rgba(255, 255, 255, 0.9);
}

.authenticate_form input[type=submit]:focus, input[type=button]:focus {
	outline: none;
}

::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.6);
}

::-moz-input-placeholder {
	color: rgba(255, 255, 255, 0.6);
}

#user {
	float: right;
	color: whitesmoke;
	font-family: sans-serif;
	font-weight: 600;
	line-height: 2;
	background-color: tomato;
	border: 1px solid whitesmoke;
	border-radius: 2px;
	padding: 0 12px;
	box-shadow: 1px 1px 2px grey;
	margin: 5px;
}

#user:hover {
	background: rgba(255, 99, 71, 0.7);
	cursor: pointer;
}

#user ul {
	list-style-type: none;
}

#user li {
	text-align: center;
	color: white;
}

#user li:hover ul {
	display: block;
}

#user li ul li:hover {
	border-radius: 2px;
	border: solid 1px black;
	transition: 0.5s all ease;
	color: black;
	background: rgba(255, 99, 71, 1);
	cursor: pointer;
}

#user li ul li:last-child {
	margin-bottom: 5px;
}

#user_options {
	display: none;
}

#main_nav {
	float: left;
}

#main_nav ul {
	list-style-type: none;
}

#main_nav li {
	color: #2C2E42;
	font-family: sans-serif;
	background-color: #B2DAF3;
	border: 1px solid #F5F5F5;
	border-radius: 2px;
	padding: 3px 5px;
	box-shadow: 1px 1px 2px #808080;
	margin: 5px;
	width:160px;
	cursor: pointer;
}

#uploadFile {
	background-color: rgba(212, 212, 72, 1) !important;
}

#uploadFile:hover {
	background-color: rgba(212, 212, 72, 0.7) !important;
}

#myMusic {
	background-color: rgba(161, 219, 44, 1) !important;
}

#myMusic:hover {
	background-color: rgba(161, 219, 44, 0.7) !important;
}

#myVideo {
	background-color: rgba(44, 188, 219, 1) !important;
}

#myVideo:hover {
	background-color: rgba(44, 188, 219, 0.7) !important;
}

.upload_form {
	width: 500px;
	height: 300px;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: cornflowerblue;
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: 2px 2px 10px grey;
	padding: 10px;
	text-align: center;
}

.upload_form input[type=submit] {
	color: whitesmoke;
	font-family: sans-serif;
	font-weight: 600;
	line-height: 2;
	background-color: tomato;
	border: 1px solid whitesmoke;
	border-radius: 2px;
	padding: 0 20px;
	box-shadow: 1px 1px 2px grey;
	margin: 5px;
	cursor: pointer;
	margin-top: 20px;
}

.upload_form input[type=submit]:hover {
	background-color: rgba(161, 219, 44, 1);
}

.upload_form input[type=file] {
	margin-top: 20px;
}

h1, h2 {
	font-family: "Exo", sans-serif;
	margin: 10px 0;
	font-weight: bold;
	text-rendering: optimizelegibility;
	font-size: 36px;
	line-height: 1.5;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
	color: beige;
	font-variant: small-caps;
}

#content {
	position: fixed;
	left: 180px;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 45px;
	width: calc(100% - 180px);
}

.dataTables_wrapper {
	position: relative;
	clear: both;
	width: calc(100% - 10px);
}

table a:link {
	color: #666;
	font-weight: bold;
	text-decoration: none;
}

table a:visited {
	color: #999999;
	font-weight: bold;
	text-decoration: none;
}

table a:active, table a:hover {
	color: #bd5a35;
	text-decoration: underline;
}

table {
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
	font-size: 12px;
	text-shadow: 1px 1px 0px #fff;
	background: #eaebec;
	margin: 20px;
	border: #ccc 1px solid;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
	overflow-x: hidden;
}

table th {
	padding: 11px 15px 11px 15px;
	border-top: 1px solid #fafafa;
	border-bottom: 1px solid #e0e0e0;
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed),
		to(#ebebeb));
	background: -moz-linear-gradient(top, #ededed, #ebebeb);
}

table th:first-child {
	text-align: left;
	padding-left: 20px;
}

table tr:first-child th:first-child {
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
}

table tr:first-child th:last-child {
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
}

table tr {
	text-align: center;
	padding-left: 20px;
}

table td:first-child {
	text-align: left;
	padding-left: 20px;
	border-left: 0;
}

table td {
	padding: 10px;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb),
		to(#fafafa));
	background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
}

table tr:nth-child(even) td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8),
		to(#f6f6f6));
	background: -moz-linear-gradient(top, #f8f8f8, #f6f6f6);
}

table tr:last-child td {
	border-bottom: 0;
}

table tr:last-child td:first-child {
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

table tr:last-child td:last-child {
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2),
		to(#f0f0f0));
	background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
}

dt {
	margin-top: 1em;
}

dt:first-child {
	margin-top: 0;
}

dd {
	width: 25%
}

.pop {
	position: absolute;
	display: none;
	background: #fff;
	border: 1px solid #999;
	padding: 10px;
	width: auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.pop:after, .pop:before {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.pop:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 10px;
	top: 50%;
	margin-top: -10px;
}

.pop:before {
	border-color: rgba(201, 201, 201, 0);
	border-right-color: #c9c9c9;
	border-width: 11px;
	top: 50%;
	margin-top: -11px;
}

.pop input[type=button], input[type=submit] {
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 10px;
}

.plainPopup {
	position: absolute;
	display: none;
	background: #fff;
	border: 1px solid #999;
	padding: 10px;
	width: auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.plainPopup input[type=button], input[type=submit] {
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 10px;
}

.popoverCloseIcon {
	display: inline-block;
	color: #555;
	font-weight: 800;
}

.popoverClose {
	position: absolute;
	cursor: pointer;
	top: -5px;
	right: 0px;
	z-index: 12;
}

.popoverTitle {
	min-width: 200px;
	border-bottom: 1px solid grey;
	padding-bottom: 5px;
	color: #696969;
}

.pop ul {
	list-style-type: none;
}

.pop li {
	font-family: Arial, Helvetica, sans-serif;
	color: #A22A2A;
	font-size: 14px;
	padding: 2px;
}

.plainPopup label {
	position: relative;
	min-width: 110px;
	text-align: right;
	float: left;
	padding: 6px 0px;
	height: 20px;
	color: #696969;
}

.plainPopup ul {
	list-style-type: none;
}

.plainPopup li {
	cursor:pointer;
}

.plainPopup input[type=text] {
	position: relative;
	min-width: 350px;
	text-align: left;
	float: right;
	padding: 3px 0px;
	height: 20px;
	z-index: 11;
}

.popEditButton {
	background-color: #ABE186;
	border: 1px solid lightgray;
	box-shadow: 1px 1px 1px #6F6C6C;
	padding: 3px 16px;
	cursor: pointer;
}

.popEditButton:hover {
	box-shadow: none;
}

.popDeleteButton {
	background-color: #FF733D;
	border: 1px solid #B1AEAE;
	box-shadow: 1px 1px 1px #6F6C6C;
	padding: 3px 16px;
	cursor: pointer;
}

.popDeleteButton:hover {
	box-shadow: none;
}

.popAddToButton{
	background-color: #F9E12F;
	border: 1px solid lightgray;
	box-shadow: 1px 1px 1px #6F6C6C;
	padding: 3px 16px;
	cursor: pointer;
}

.popAddToButton:hover {
	box-shadow: none;
}

.popMoveButton{
	background-color: #77D2E6;
	border: 1px solid lightgray;
	box-shadow: 1px 1px 1px #6F6C6C;
	padding: 3px 16px;
	cursor: pointer;
}

.popMoveButton:hover {
	box-shadow: none;
}

.popFooter {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}


.popContent {
	padding: 10px 0px;
}

#editor {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 15;
}

#confirmPop {
	display: none;
	z-index: 100;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#editPlaylistPop {
	display: none;
	z-index: 100;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#deletePlaylistPop {
	display: none;
	z-index: 100;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.tint {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(51, 51, 51, 0.3);
	z-index: 10;
	display: none;
}

#top_nav {
	z-index: 99;
}

.playlistAction {
	display: inline-block;
	color: #555;
	font-weight: 800;
	border: 1px solid white;
	padding: 2px 7px;
	margin-left: 5px;
	box-shadow: 2px 2px 2px grey;
	cursor: pointer;
	text-align: center;
}

.playlistAction:hover {
	box-shadow: none;
}

.exitMode{
	position: fixed;
	top: 0px;
	left: 50%;
	transform: translate(-50%);
	border: 2px solid #6C6C42;
	padding: 9px;
	font-weight: 600;
	font-family: Arial;
	background-color: tomato;
	cursor: pointer;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	color: #FCF900;
	box-shadow: 1px 1px 2px black;
	display:none;
}

#profileForm{
	display:none;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

$anim-speed: 750ms;
$tricolor: #215A6D;
$triw: 30px;
$trih: $triw*.9;
$bodycolor: #e4e4e5;

@include keyframes(pulse) {
  0% {
    opacity: 1;
  }
  16.666%{
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

body {
  background: $bodycolor;
}

.triangles {
  @include transform( translate(-50%, -50%) );
  height: $trih * 3;
  width: $triw * 3;
  position: absolute;
  left: 50%;
  top: 50%;
}
@-webkit-keyframes pulse {
  0% {
    opacity: 1;
  }
  16.666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes pulse {
  0% {
    opacity: 1;
  }
  16.666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  16.666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
body {
  background: #e4e4e5;
}

.triangles {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 81px;
  width: 90px;
  position: fixed;
  left: 50%;
  top: 50%;
  display:none;
  z-index: 99999;
}

.tri {
  position: absolute;
  -webkit-animation: pulse 750ms ease-in infinite;
  -moz-animation: pulse 750ms ease-in infinite;
  animation: pulse 750ms ease-in infinite;
  border-top: 27px solid #215A6D;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 0px;
}
.tri.invert {
  border-top: 0px;
  border-bottom: 27px solid #215A6D;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}
.tri:nth-child(1) {
  left: 30px;
}
.tri:nth-child(2) {
  left: 15px;
  top: 27px;
  -webkit-animation-delay: -125ms;
  -moz-animation-delay: -125ms;
  animation-delay: -125ms;
}
.tri:nth-child(3) {
  left: 30px;
  top: 27px;
}
.tri:nth-child(4) {
  left: 45px;
  top: 27px;
  -webkit-animation-delay: -625ms;
  -moz-animation-delay: -625ms;
  animation-delay: -625ms;
}
.tri:nth-child(5) {
  top: 54px;
  -webkit-animation-delay: -250ms;
  -moz-animation-delay: -250ms;
  animation-delay: -250ms;
}
.tri:nth-child(6) {
  top: 54px;
  left: 15px;
  -webkit-animation-delay: -250ms;
  -moz-animation-delay: -250ms;
  animation-delay: -250ms;
}
.tri:nth-child(7) {
  top: 54px;
  left: 30px;
  -webkit-animation-delay: -375ms;
  -moz-animation-delay: -375ms;
  animation-delay: -375ms;
}
.tri:nth-child(8) {
  top: 54px;
  left: 45px;
  -webkit-animation-delay: -500ms;
  -moz-animation-delay: -500ms;
  animation-delay: -500ms;
}
.tri:nth-child(9) {
  top: 54px;
  left: 60px;
  -webkit-animation-delay: -500ms;
  -moz-animation-delay: -500ms;
  animation-delay: -500ms;
}